corpo {
    cor de fundo :  # 1D4221 ;
    cor : branco;
    família de fontes :  "Bai Jamjuree" , sem serifa;
    exibição : flex;
    justificar-conteúdo : centro;
    alinhar-itens : centro;
    altura :  700 px ;
    margem :  0 ;
}

botão {
    cor de fundo :  # 64A712 ;
    cor : branco;
    família de fontes :  "Bai Jamjuree" , sem serifa;
}

. passo {
    exibição : nenhuma;
}

. passo . ativo {
    exibir : bloco;
}

principal {
    alinhamento de texto : centralizar;
    largura máxima :  90 % ;
}

imagem {
    largura máxima :  90 % ;
}
